<br/>
<div class="ui card">
  <div class="image">
    <img src="https://robohash.org/<%= @artist.avatar %>?set=set2" />
  </div>
  <div class="content">
    <p class="header">
      <%= @artist.name %>
    </p>
    <div class="description">
      <%= @artist.genre %>
    </div>
  </div>
  <div class="extra content">
  <h2>Songs</h2>
  <table class="ui striped table">
  <thead>
    <tr class="center aligned">
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @artist.songs.each do |song| %>
      <tr class="center aligned">
        <td><%= song.song_name %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <%= link_to 'Edit Artist', edit_artist_path(@artist) %> |
  <%= link_to 'Back', artists_path %> |
  <%= link_to 'Add a New Song', new_artist_song_path(@artist) %>
  </div>
</div>
<br/>